:root {
  --font-karla: "Karla", sans-serif;
  --text-color: #1D1F2E;
  --bg-color-main: #FFFFFF;
  --text-secondary: #FFFFFF;
  --bg-secondary: #1D1F2E;
}

body.dark-theme {
  --bg-color-main: #191727;
  --text-color: #ffffff;
  --text-secondary: #191727;
  --bg-secondary: #FFFFFF;
}

body {
  font-family: var(--font-karla);
  font-weight: 400;
  background-color: var(--bg-color-main);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.header {
  background-color: var(--bg-color-main);
  color: var(--text-color);
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 45px;
}

.logo {
  margin-top: 28px;
  margin-bottom: 28px;
}

.navbar-list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cart {
  margin-left: 20px;
}

.cart img {
  margin-right: 10px;
  margin-left: 8px;
}

.cart-count {
  font-size: 11px;
  line-height: 164%;
  text-align: center;
  width: 23px;
  height: 23px;
  background-color: var(--text-color);
  color: var(--bg-color-main);
  border-radius: 9px;
  display: inline-block;
}

.navbar-items {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.17em;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.navbar-items:hover {
  scale: 0.9;
}

.hero {
  width: 97%;
  height: 530px;
  background: #050827;
  background-image: url(../image/IMAGE-hero.png);
  background-size: 940px;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-secondary);
  margin-bottom: 75px;
}


.hero-content {
  padding-top: 160px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #1D1F2E;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  width: 278px;
  margin: 0 auto;
}

.hero-btn:hover {
  scale: 0.9;
  transition: all 0.3s ease;
}

.hero-p {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.hero-title {
  font-size: 47px;
  line-height: 128%;
  text-align: center;
  color: #FFFFFF;
}

.hero-p2 {
  font-size: 17px;
  line-height: 176%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.main {
  background-color: var(--bg-color-main);
  color: var(--text-color);
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

.main-title {
  font-size: 28px;
  line-height: 143%;
  color: var(--text-color);
  margin-bottom: 16px;
}

.main-text {
  max-width: 658px;
  font-size: 16px;
  line-height: 175%;
  color: var(--text-color);
  opacity: 0.7;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-anchor {
  display: inline-block;
  font-size: 15px;
  line-height: 187%;
  color: var(--text-color);
  transition: all 1.3s ease;
  margin-bottom: 100px;
  position: relative;
}

.main-anchor::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgba(162, 95, 75, 0.2);
  transition: all 1.3s ease;
  position: absolute;
  bottom: -3px;
}

.main-anchor:hover {
  color: #a25f4b;
}

.main-anchor:hover::after {
  width: 133px;
}

.main-subtitle {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 100px;
}

.featured-mugs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}

.mug-card:hover {
  scale: 0.95;
  transition: all 0.3s ease;
}

.mug-img {
  margin-bottom: 35px;
}

.mug-text {
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 5px;
}

.mug-card-grid:hover {
  scale: 0.95;
  transition: all 0.3s ease;
}

.price-current {
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: var(--text-color);
  opacity: 0.7;
  margin-bottom: 15px;
}

.price {
  font-size: 19px;
  line-height: 168%;
  text-align: center;
  color: #a25f4b;
  margin-bottom: 15px;
}

.old-price {
  font-size: 16px;
  line-height: 175%;
  text-decoration: line-through;
  text-align: center;
  color: var(--text-color);
  opacity: 0.4;
  margin-left: 10px;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: 50px;
  margin-bottom: 100px;
}

.offer-section {
  display: flex;
  gap: 20px;
}

.offer-card-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.offer-card-collage {
  display: grid;
  gap: 20px;
  margin-bottom: 130px;
}

.offer-info {
  max-width: 400px;
  text-align: left;
  margin-left: 60px;
}

.offer-info-title {
  font-size: 36px;
  line-height: 139%;
  color: var(--text-color);
  margin-bottom: 15px;
}

.start-shopping {
  padding: 10px 24px;
  background: var(--text-color);
  color: var(--text-secondary);
  cursor: pointer;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  border: none;
}

.start-shopping:hover {
  scale: 0.9;
  transition: all 0.3s ease;
}

.main-bg2 {
  width: 100%;
  margin-bottom: 100px;
}

.stories-section {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
  text-align: left;
}

.stories-card:hover {
  scale: 0.95;
  transition: all 0.3s ease;
}

.stories-card img {
  margin-bottom: 25px;
}

.stories-title {
  font-size: 20px;
  line-height: 160%;
  color: var(--text-color);
  margin-bottom: 15px;
}

.stories-text {
  font-size: 16px;
  line-height: 175%;
  color: var(--text-color);
  opacity: 0.7;
  margin-bottom: 16px;
}

.stories-data {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--text-color);
}

.sign-up {
  display: grid;
  justify-content: center;
  max-width: 95%;
  height: 330px;
  background: var(--bg-secondary);
  margin: 0 auto;
  margin-bottom: 110px;
}

.sign-up-title {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-secondary);
  padding: 80px 0 0 0;
  margin-bottom: 15px;
}

.sign-up-text {
  font-size: 36px;
  line-height: 139%;
  text-align: center;
  color: var(--text-secondary);
  margin-bottom: 25px;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 85px;
}

.email-input {
  width: 350px;
  padding: 18px;
  background-color: var(--bg-secondary);
  outline: none;
  border: 1px solid #2f303e;
  margin-right: 10px;
}

.email-input::placeholder {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: left;
  color: var(--text-secondary);
}

.sign-up-btn {
  display: inline-block;
  box-shadow: 0 2px 6px 0 rgba(29, 31, 46, 0.1);
  background: var(--text-secondary);
  padding: 18px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg-secondary);
  border: none;
  cursor: pointer;
}

.sign-up-btn:hover {
  scale: 0.9;
  transition: all 0.3s ease;
}

.footer {
  background-color: var(--bg-color-main);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  gap: 97px;
  text-align: left;
  margin-bottom: 52px;
}

.footer-text {
  max-width: 277px;
  font-size: 14px;
  line-height: 157%;
  color: var(--text-color);
  opacity: 0.7;
  margin: 22px 0 82px 0;
}

.footer-copyright {
  font-size: 14px;
  line-height: 157%;
  color: var(--text-color);
  opacity: 0.3;
}

.footer-menu-list,
.footer-social-list,
.footer-social-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-subtitle {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 22px;
}

.footer-menu-item,
.footer-social-item {
  font-size: 14px;
  line-height: 157%;
  color: var(--text-color);
  opacity: 0.7;
  cursor: pointer;
}

.footer-menu-item:hover,
.footer-social-item:hover,
.footer-contact-link:hover {
  color: #a25f4b;
}

.footer-contact-text {
  font-size: 14px;
  line-height: 157%;
  color: var(--text-color);
  opacity: 0.7;
  margin-bottom: 15px;
}

.footer-contact-link {
  display: block;
  font-size: 23px;
  line-height: 157%;
  color: var(--text-color);
  margin-bottom: 55px;
}

body:has(#themeToggle:checked) {
  svg {
    fill: rgb(200, 144, 144);
  }

  .logo {
    filter: invert(1);
  }

  .cart img {
    filter: invert(1);
  }

}

@media screen and (max-width: 868px) {

  .header {
    flex-direction: column;
    gap: 0px;
  }

  .navbar-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: center;
  }

  .cart {
    margin-top: 30px;
  }

  .hero {
    width: 100%;
  }

  .hero-p2 {
    margin: 20px 40px;
  }

  .featured-mugs {
    flex-direction: column;
    align-items: center;
  }

  .grid-section {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .offer-section {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-bottom: 90px;
  }

  .offer-card-img {
    padding-left: 110px;
  }

  .offer-card-collage {
    margin-bottom: 70px;
  }

  .main-subtitle {
    margin-bottom: 50px;
  }

  .offer-info {
    margin-left: 0;
    text-align: center;
  }

  .stories-section {
    display: flex;
    gap: 63px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .sign-up {
    height: 400px;
  }

  .sign-up-form {
    flex-direction: column;
    gap: 15px;
  }

  .email-input {
    margin-right: 0;
  }

  .footer {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 500px) {

  .offer-card-img {
    padding-left: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .offer-card-collage {
    display: flex;
    gap: 5px;
  }

  .mug-img {
    width: 100%;
  }

   .stories-section {
    gap: 50px;
    padding: 0 20px;
  }

   .sign-up {
    height: 450px;
   }

   .sign-up-form {
    flex-direction: column;
    gap: 15px;
   }

   .email-input {
    width: 100%;
   }

   .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
   }

   .footer-text{
    margin: 20px 0 50px 0;
   }

  }
